#title-group {
    color: rgb(241, 55, 55);
    text-align: center;
    font-family: cursive;

}
#container-input{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10ch;
    padding: 30px 0px 30px 0px;
    gap: 1ch;
    width: 25vw;
    border: crimson;
    border-width: 2px;
    border-style: dotted;
    border-radius: 20ch;
}

#container-input label{
    color: crimson;
    flex-direction: row;

}
#inputDiv {
  color: white;
  background-color: black;
}
.break {
  flex-basis: 100%;
  width: 0;
}

body {
    margin: 0;
    overflow: hidden;
    background: #111;
}

.heart {
  position: fixed;
  font-size: 24px;
  color: crimson;
  pointer-events: none; /* prevents clicks from being blocked */
  animation: floatUp linear forwards;
}

@keyframes floatUp {
  from {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-10vh) scale(0.5);
    opacity: 0;
  }
}

.centerthefuckingdiv {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 10vh; 
}